@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap');
html{
    height:100%;
}

body {
  background: white !important;
  color: #333333;
  height:500px;;

}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.nav {
    width:100%;
    height:40px;
    background-color:rgba(0,0,0,0.2);
    align-content:center;
    position:fixed;
    top:0;
    left:0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index:1000;
}

.nav-link{
    margin:auto 10px;
    padding:0px;
    text-decoration; none;
    color:white;
    font-weight:500;
}

.nav-link:hover{
    color:white;
}

.user-nav{
    display:flex;
    margin-left:auto;
    margin-right:15%;
}

.logo {
    margin-left:10%;
    font-weight:100 !important;
    color: black !important;
}

.nav-logo {
    font-weight:400;
    color: black;
    padding:0px;
    text-decoration; none;
    color:rgb(255,255,200);
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}

.nav-logo:hover {
    text-decoration:none;
    color:rgb(255,255,200);
}

.content-section {
  background: white;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;

}

.content-container {
    justify-content:center;
    justify-items:center;
    margin:0 15%;
}


.article-title {
  color: black;
  font-size:24px;

}

a.article-title:hover {
  color: darkgrey;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 45px;
  width: 45px;
  margin: 10px;
  object-fit: cover;
  border-radius:100px;

}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit: cover;
  border-radius:100px;
}

.account-heading {
  font-size: 2.5rem;
}

.container {
    background-color:white !important;
}

.product-container{
    display:flex;
    align-content:center;
    align-items:center;
    justify-content: space-between;
    text-align:center;
    margin:0px 0%;

}

.product-container p{
    margin:0px 15px;
    width:200px;
}

.product-btn {
    background-color:#00c3ff;
    padding:8px 15px;
    color:white;
    text-decoration:none;
    border-radius:10px;
    border:none;
    margin:25px 0px;
}

.product-btn:hover {
    text-decoration:none;
    color:white;
    background-color:rgb(80,200,255);
    border:none;
    cursor:pointer;
}

.body-container {
    width:100%;
    margin-top:100px;
}

.pagination {
    width:100%;
    justify-content:center;
}

.title-div {
    width:100%;
    text-align:center;
    justify-content:center;
}

.title-div a  button{
    width:100%;
}

.message-success {
    width:80%;
    padding:5px;
    background-color:lightgreen;
    color:white;
    text-align:center;
    margin:auto;
    border-radius:10px;
    margin-bottom:20px;
}

.update-btn {
    padding:5px 10px;
    background-color:rgb(180,255,120);
    color:white;
    text-decoration:none;
    border-radius:10px;
}

.update-btn:hover {
    text-decoration:none;
    color:white;
}

.delete-btn {
    padding:3px 10px;
    background-color:rgb(180,180,180);
    color:white;
    text-decoration:none;
    border-radius:10px;
    border:none;
}

.delete-btn:hover {
    text-decoration:none;
    color:white;
    cursor:pointer;
}